body{
      background-color:#F4F3E7;      
}
.heading{
    color: #0b054d;
}
.text{
    font-family: 'Roboto', sans-serif;
}
p .description{
    float: left;
}
figure {
    float: right; /* Float the figure to the left */
    margin: 0 20px 20px 0; /* Add some margin to create space between the image and surrounding text */
}

img {
width: 150px;
height: 150px;
border-radius: 50%;
/* margin: 10px;
position: absolute;
top: 20px;
right: 20px; */
}
.skill-level{
    color: gold
}
